body {
    --color-black: #000;
    --color-black-light: #777777;
    --color-white: #fff;
    --color-light: #f4f4f4;
    --details: #871034;
    --back-primary: #3a3757;
    --back-fundo: #fff;
}

body.dark {
    --color-black: #fff;
    --color-white: #000;
    --color-light: #777777;
    --color-black-light: #f4f4f4;
    --details: #871034;
    --back-primary: #3a3757;
    --back-fundo: #000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: var(--back-fundo);
    transition: 0.4s background-color;
}

/*===== apresentação =====*/
#showcase {
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
    background: url('../img/about/fundo1.jpg') no-repeat center center/cover;
    /* Overlay */
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: color;
}

#show-container {
    text-align: center;
}

#show-container h2 {
    font-size: 3rem;
    color: #fff;
}

#show-container p {
    font-size: 1.4rem;
    padding: 7px 0;
    color: #fff;
}

/*===== sobre ====*/
.about {
    background: url(../img/about/teste.jpg) no-repeat left;
    background-size: 50%;
    object-fit: cover;
    overflow: hidden;
    padding: 100px 0;
    margin: 10px;
    margin-top: 5rem;
}

.inner-container {
    width: 50%;
    float: right;
    margin-right: 12%;
    background-color: var(--color-white);
    padding: 75px;
}

.inner-container h1 {
    margin-bottom: 30px;
    color: var(--color-black);
    font-size: 1.4rem;
    font-weight: 900;
}

.inner-container p {
    font-size: 1rem;
    color: var(--color-black-light);
    line-height: 30px;
    text-align: justify;
    margin-bottom: 40px;
}

/*==== história ====*/
.texts .container {
    display: flex;
    width: 100%;
    background: var(--color-white);
    border-radius: 16px;
    overflow: hidden;
}

.col-3, .col-4 {
    flex-basis: 50%;
    overflow: hidden;
}

.col-3 img {
    width: 60%;
    height: 80%;
}

.col-4 {
    padding: 8% 5%;
    position: relative;
}

.col-4 h1 {
    font-size: 3rem;
    line-height: 80px;
    letter-spacing: 2;
    color: var(--color-black);
}

.col-4 p {
    color: var(--color-black-light);
    line-height: 22px;
    margin: 15px 0 30px;
}

/*==== tradição ====*/
.row {
    display: flex;
    width: 100%;
    background: var(--color-white);
    border-radius: 16px;
    overflow: hidden;
}

.col-1, .col-2 {
    flex-basis: 50%;
    overflow: hidden;
}

.col-2 img {
    width: 100%;
    height: 60%;
    margin-left: 6rem;
}

.col-1 {
    padding: 8% 5%;
    position: relative;
}

.col-1 h1 {
    font-size: 3rem;
    line-height: 80px;
    letter-spacing: 2;
    color: var(--color-black);
}

.col-1 p {
    color: var(--color-black-light);
    line-height: 22px;
    margin: 15px 0 30px;
}

.texts ul {
    bottom: 30px;
}

.texts ul li {
    width: 15px;
    height: 15px;
    display: inline-block;
    background: #777777;
    border-radius: 50%;
    margin-right: 15px;
    cursor: pointer;
}

.texts ul .active {
    background: #000;
}

/*===== rodapé ====*/
footer {
    position: relative;
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: var(--color-white);
    transition: background 0.3s linear;
}

footer .container {
    max-width: 1240px;
    padding: 30px 40px;
    margin: auto;
}

.content-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.profile .logo-area {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.profile .logo-area img {
    border-radius: 50%;
    border: 1px solid var(--color-white);
}

.logo-area .logo-name {
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0 1rem;
    color: var(--color-black);
}

.desc-area {
    max-width: 320px;
    margin-bottom: 1.23rem;
}

.desc-area p {
    color: var(--color-black-light);
    font-weight: 400;
    line-height: 28px;
}

.social-media a {
    color: var(--color-black-light);
    margin-right: 22px;
    font-size: 24px;
}

.social-media a:hover {
    color: var(--details);
}

.service-area {
    display: flex;
}

.service-header {
    margin-right: 40px;
}

li.service-name {
    color: var(--color-black);
    font-weight: 600;
}

.service-header li a {
    color: var(--color-black-light);
    padding-bottom: 1px;
    font-weight: 400;
}

.service-header li a:hover {
    color: var(--back-primary);
}

.service-header li {
    margin-bottom: 10px;
}

hr {
    height: 1px;
    border: none;
    background-color: var(--details);
    margin-bottom: 1rem;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.875rem;
}

.copy-righy {
    color: var(--color-black-light);
    display: flex;
    align-items: center;
}

.copy-righy span {
    margin-left: 8px;
    font-weight: 400;
    letter-spacing: 0.135rem;
}

.termos a {
    color: var(--color-black-light);
    margin-left: 1.5rem;
}

.termos a:hover {
    color: var(--color-black);
}
/*==== scroll revel ====*/
#showcase, .about, .col-4, .col-3, .col-2, .col-1{
    visibility: hidden;
}