@import "var.css";

body {
    background-color: var(--back-fundo);
    overflow-x: hidden;
}

/*==== main ====*/
#content main {
    width: 100%;
    padding: 36px 24px;
    max-height: calc(100vh - 56px);
    overflow-y: auto;
}

#content main .table-data {
    display: flex;
    flex-wrap: wrap;
    grid-gap: 24px;
    margin-top: 24px;
    width: 100%;
    color: #342E37;
}

#content main .table-data>div {
    border-radius: 20px;
    background: var(--color-light);
    padding: 24px;
    overflow-x: auto;
}

#content main .table-data .head {
    display: flex;
    align-items: center;
    grid-gap: 16px;
    margin-bottom: 24px;
}

#content main .table-data .head i {
    font-size: 20px;
}

#icones i {
    font-size: 20px;
    padding: 5px;
    color: var(--details);
}

#content main .table-data .head h3 {
    margin-right: auto;
    font-size: 24px;
    font-weight: 600;
    color: var(--color-black);
}

#content main .table-data .head .bx {
    cursor: pointer;
}

#content main .table-data .order {
    flex-grow: 1;
    flex-basis: 500px;
    background-color: var(--color-light2);
}

#content main .table-data .todo {
    flex-grow: 1;
    flex-basis: 300px;
}

table {
    border-collapse: collapse;
}

table thead tr {
    background: var(--color-white);
}

table thead th {
    padding: 1rem 0rem;
    text-align: left;
    color: var(--color-black);
    font-size: .9rem;
}

table thead th:first-child {
    padding-left: 1rem;
}

table tbody td {
    padding: 1rem 0rem;
    color: var(--color-black);
}

table tbody td:first-child {
    padding-left: 1rem;
    color: var(--main-color);
    font-weight: 600;
    font-size: .9rem;
}

table tbody tr {
    border-bottom: 1px solid var(--color-white);
}

table tbody tr .cod {
    color: var(--color-black);
}

.client {
    display: flex;
    align-items: center;
}

.client-info h4 {
    color: var(--color-black);
    font-size: .95rem;
}

.client-info small {
    color: var(--color-black-light);
}

.status {
    display: inline-block;
    text-align: center;
    font-weight: 600;
    color: var(--color-white);
    background: green;
    padding: .5rem 1rem;
    border-radius: 20px;
    font-size: .8rem;
}

/*==== pesquisar ====*/
.search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.search__input {
    font-family: inherit;
    font-size: inherit;
    background-color: var(--color-light2);
    border: none;
    color: #646464;
    padding: 0.7rem 1rem;
    border-radius: 30px;
    width: 12em;
    margin-right: -2rem;
}

.search__input:hover, .search__input:focus {
    box-shadow: 0 0 1em #00000013;
}

.search__input::-webkit-input-placeholder {
    font-weight: 100;
    color: var(--color-black);
}

.search__input:focus+.search__button {
    background-color: #f0eeee;
}

.search__button {
    border: none;
    background-color: #f4f2f2;
    margin-top: .1em;
}

.search__button:hover {
    cursor: pointer;
}

.search__icon {
    height: 1.3em;
    width: 1.3em;
    fill: #b4b4b4;
}

/*==== mensagem caso não tenha arquivo ====*/
#no-file{
    color: red;
}

/*==== status color ====*/
.success {
    background-color: green;
    color: white;
  }
  
  .danger {
    background-color: red;
    color: white;
  }
  
  .warning {
    background-color: yellow;
    color: black;
  }