body {
    --color-black: #000;
    --color-black-light: #777777;
    --color-white: #fff;
    --color-light: #f4f4f4;
    --details: #871034;
    --back-primary: #3a3757;
    --back-fundo: #fff;
}

body.dark {
    --color-black: #fff;
    --color-white: #000;
    --color-light: #777777;
    --color-black-light: #f4f4f4;
    --details: #871034;
    --back-primary: #3a3757;
    --back-fundo: #000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: var(--back-fundo);
    transition: 0.4s background-color;
}

section {
    padding: 100px 200px;
}

/*===== educação/qualificações ====*/
.grid {
    display: grid;
    gap: 20rem;
}

.section-border {
    border-bottom: 1px solid var(--details);
    padding-bottom: 3.5rem;
}

.section-title,
.section-subtitle {
    color: var(--color-black);
    text-align: center;
}

.section-title {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: .25rem;
}

.section-subtitle {
    display: block;
    font-size: 1.2rem;
    color: var(--color-black-light);
    margin-bottom: 3rem;
}

.qualification {
    position: relative;
}

.qualification-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.qualification-title {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: .5rem;
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 3rem;
}

.txt-geral {
    margin-bottom: 2rem;
}

.qualification-name {
    font-size: 18px;
}

.qualification-country,
.qualification-year {
    font-size: 14px;
    color: var(--color-black-light);
}