@import url("https://fonts.googleapis.com/css?family=Lato|Russo+One");
@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');

*,
 *::after, 
 *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Russo One', sans-serif;
    text-decoration: none;
}
body{
    background: #161b15;
}

/*==== titulo ====*/
.txt {
    text-align: center;
    color: #fff;
}

.txt h1 {
    font-size: 150px;
    margin-top: 320px;
    font-family: 'Zen Dots', cursive;
}

/*==== menssagem ====*/
.txt h3 {
    font-size: 28px;
    margin: 10px 0px 0px 500px;
}

/*=== botao ====*/

.txt .btn {
    display: inline-block;
    padding: 12px 16px;
    background-color: transparent;
    border: 2px solid rebeccapurple;
    color: white;
    border-radius: 5px;
    line-height: 1;
    transition: .5s ease-out;
}

.txt .btn:hover {
    background-color: #7900ff;
    color: white;
}

/*==== eye ====*/
head {
    display: block;
    position: relative;
    width: 200px;
    margin: 10% auto 0;
}

head::after {
    content: '';
    width: 20px;
    height: 20px;
    background: #000;
    position: absolute;
    top: 30px;
    left: 25px;
    border-radius: 50%;
    box-shadow: 125px 0 0 #000;
    animation: eye 2.5s infinite;
}

meta {
    position: relative;
    display: inline-block;
    background: #fff;
    width: 75px;
    height: 80px;
    border-radius: 50% 50% 50% 50%/45px 45px 45% 45%;
    transform: rotate(45deg);
}

meta::after {
    content: '';
    position: absolute;
    border-bottom: 2px solid #fff;
    width: 70px;
    height: 50px;
    left: 0;
    bottom: -10px;
    border-radius: 50%;
}

meta::before {
    bottom: auto;
    top: -100px;
    transform: rotate(45deg);
    left: 0;
}

meta:nth-of-type(2) {
    float: right;
    transform: rotate(-45deg);
}

meta:nth-of-type(2)::after {
    left: 5px;
}

meta:nth-of-type(3) {
    display: none;
}

@keyframes eye {

    0%,
    30%,
    55%,
    90%,
    100% {
        transform: translate(0.0);
    }

    10%, 25% {
        transform: translate(0, 20px);
    }

    65% {
        transform: translate(-20px, 0);
    }

    80% {
        transform: translate(20px, 0);
    }

}

/*==== estrelas ====*/
.container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.container-star:after {
    background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 40%, rgba(15, 10, 38, 0.2) 100%);
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}

.star-1 {
    position: absolute;
    border-radius: 50%;
    background-color: #ffffff;
    -webkit-animation: twinkle 5s infinite ease-in-out;
    animation: twinkle 5s infinite ease-in-out;
}

.star-1:after {
    height: 100%;
    width: 100%;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    content: "";
    position: absolute;
    background-color: #fff;
    border-radius: 50%;
}

.star-1:before {
    background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 60%, rgba(255, 255, 255, 0) 100%);
    position: absolute;
    border-radius: 50%;
    content: "";
    top: -20%;
    left: -50%;
}

.star-1:nth-of-type(1) {
    top: 13vh;
    left: 46vw;
    width: 6px;
    height: 2px;
    -webkit-animation-delay: 4s;
    animation-delay: 4s;
}

.star-1:nth-of-type(1):before {
    width: 12px;
    height: 12px;
    top: -250%;
}

.star-1:nth-of-type(2) {
    top: 24vh;
    left: 30vw;
    width: 7px;
    height: 2.3333333333px;
    -webkit-animation-delay: 3s;
    animation-delay: 3s;
}

.star-1:nth-of-type(2):before {
    width: 14px;
    height: 14px;
    top: -250%;
}

.star-1:nth-of-type(3) {
    top: 52vh;
    left: 75vw;
    width: 9px;
    height: 3px;
    -webkit-animation-delay: 3s;
    animation-delay: 3s;
}

.star-1:nth-of-type(3):before {
    width: 18px;
    height: 18px;
    top: -250%;
}

.star-1:nth-of-type(4) {
    top: 69vh;
    left: 42vw;
    width: 4px;
    height: 1.3333333333px;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
}

.star-1:nth-of-type(4):before {
    width: 8px;
    height: 8px;
    top: -250%;
}

.star-1:nth-of-type(5) {
    top: 46vh;
    left: 77vw;
    width: 4px;
    height: 1.3333333333px;
    -webkit-animation-delay: 5s;
    animation-delay: 5s;
}

.star-1:nth-of-type(5):before {
    width: 8px;
    height: 8px;
    top: -250%;
}

.star-1:nth-of-type(6) {
    top: 99vh;
    left: 86vw;
    width: 5px;
    height: 1.6666666667px;
    -webkit-animation-delay: 4s;
    animation-delay: 4s;
}

.star-1:nth-of-type(6):before {
    width: 10px;
    height: 10px;
    top: -250%;
}

.star-1:nth-of-type(7) {
    top: 33vh;
    left: 32vw;
    width: 6px;
    height: 2px;
    -webkit-animation-delay: 3s;
    animation-delay: 3s;
}

.star-1:nth-of-type(7):before {
    width: 12px;
    height: 12px;
    top: -250%;
}

.star-1:nth-of-type(8) {
    top: 76vh;
    left: 77vw;
    width: 9px;
    height: 3px;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
}

.star-1:nth-of-type(8):before {
    width: 18px;
    height: 18px;
    top: -250%;
}

.star-1:nth-of-type(9) {
    top: 15vh;
    left: 18vw;
    width: 5px;
    height: 1.6666666667px;
    -webkit-animation-delay: 3s;
    animation-delay: 3s;
}

.star-1:nth-of-type(9):before {
    width: 10px;
    height: 10px;
    top: -250%;
}

.star-1:nth-of-type(10) {
    top: 10vh;
    left: 7vw;
    width: 5px;
    height: 1.6666666667px;
    -webkit-animation-delay: 4s;
    animation-delay: 4s;
}

.star-1:nth-of-type(10):before {
    width: 10px;
    height: 10px;
    top: -250%;
}

.star-1:nth-of-type(11) {
    top: 30vh;
    left: 5vw;
    width: 4px;
    height: 1.3333333333px;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
}

.star-1:nth-of-type(11):before {
    width: 8px;
    height: 8px;
    top: -250%;
}

.star-1:nth-of-type(12) {
    top: 77vh;
    left: 75vw;
    width: 9px;
    height: 3px;
    -webkit-animation-delay: 5s;
    animation-delay: 5s;
}

.star-1:nth-of-type(12):before {
    width: 18px;
    height: 18px;
    top: -250%;
}

.star-1:nth-of-type(13) {
    top: 85vh;
    left: 12vw;
    width: 8px;
    height: 2.6666666667px;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}

.star-1:nth-of-type(13):before {
    width: 16px;
    height: 16px;
    top: -250%;
}

.star-1:nth-of-type(14) {
    top: 70vh;
    left: 40vw;
    width: 9px;
    height: 3px;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
}

.star-1:nth-of-type(14):before {
    width: 18px;
    height: 18px;
    top: -250%;
}

.star-1:nth-of-type(15) {
    top: 12vh;
    left: 76vw;
    width: 8px;
    height: 2.6666666667px;
    -webkit-animation-delay: 4s;
    animation-delay: 4s;
}

.star-1:nth-of-type(15):before {
    width: 16px;
    height: 16px;
    top: -250%;
}

.star-1:nth-of-type(16) {
    top: 75vh;
    left: 46vw;
    width: 8px;
    height: 2.6666666667px;
    -webkit-animation-delay: 5s;
    animation-delay: 5s;
}

.star-1:nth-of-type(16):before {
    width: 16px;
    height: 16px;
    top: -250%;
}

.star-1:nth-of-type(17) {
    top: 32vh;
    left: 91vw;
    width: 5px;
    height: 1.6666666667px;
    -webkit-animation-delay: 3s;
    animation-delay: 3s;
}

.star-1:nth-of-type(17):before {
    width: 10px;
    height: 10px;
    top: -250%;
}

.star-1:nth-of-type(18) {
    top: 64vh;
    left: 10vw;
    width: 6px;
    height: 2px;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}

.star-1:nth-of-type(18):before {
    width: 12px;
    height: 12px;
    top: -250%;
}

.star-1:nth-of-type(19) {
    top: 91vh;
    left: 23vw;
    width: 7px;
    height: 2.3333333333px;
    -webkit-animation-delay: 3s;
    animation-delay: 3s;
}

.star-1:nth-of-type(19):before {
    width: 14px;
    height: 14px;
    top: -250%;
}

.star-1:nth-of-type(20) {
    top: 67vh;
    left: 14vw;
    width: 9px;
    height: 3px;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
}

.star-1:nth-of-type(20):before {
    width: 18px;
    height: 18px;
    top: -250%;
}

.star-1:nth-of-type(21) {
    top: 18vh;
    left: 1vw;
    width: 8px;
    height: 2.6666666667px;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
}

.star-1:nth-of-type(21):before {
    width: 16px;
    height: 16px;
    top: -250%;
}

.star-1:nth-of-type(22) {
    top: 59vh;
    left: 17vw;
    width: 5px;
    height: 1.6666666667px;
    -webkit-animation-delay: 3s;
    animation-delay: 3s;
}

.star-1:nth-of-type(22):before {
    width: 10px;
    height: 10px;
    top: -250%;
}

.star-1:nth-of-type(23) {
    top: 38vh;
    left: 44vw;
    width: 9px;
    height: 3px;
    -webkit-animation-delay: 5s;
    animation-delay: 5s;
}

.star-1:nth-of-type(23):before {
    width: 18px;
    height: 18px;
    top: -250%;
}

.star-1:nth-of-type(24) {
    top: 73vh;
    left: 56vw;
    width: 6px;
    height: 2px;
    -webkit-animation-delay: 5s;
    animation-delay: 5s;
}

.star-1:nth-of-type(24):before {
    width: 12px;
    height: 12px;
    top: -250%;
}

.star-1:nth-of-type(25) {
    top: 2vh;
    left: 23vw;
    width: 9px;
    height: 3px;
    -webkit-animation-delay: 3s;
    animation-delay: 3s;
}

.star-1:nth-of-type(25):before {
    width: 18px;
    height: 18px;
    top: -250%;
}

.star-1:nth-of-type(26) {
    top: 74vh;
    left: 88vw;
    width: 7px;
    height: 2.3333333333px;
    -webkit-animation-delay: 4s;
    animation-delay: 4s;
}

.star-1:nth-of-type(26):before {
    width: 14px;
    height: 14px;
    top: -250%;
}

.star-1:nth-of-type(27) {
    top: 69vh;
    left: 3vw;
    width: 5px;
    height: 1.6666666667px;
    -webkit-animation-delay: 5s;
    animation-delay: 5s;
}

.star-1:nth-of-type(27):before {
    width: 10px;
    height: 10px;
    top: -250%;
}

.star-1:nth-of-type(28) {
    top: 6vh;
    left: 20vw;
    width: 8px;
    height: 2.6666666667px;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
}

.star-1:nth-of-type(28):before {
    width: 16px;
    height: 16px;
    top: -250%;
}

.star-1:nth-of-type(29) {
    top: 69vh;
    left: 8vw;
    width: 6px;
    height: 2px;
    -webkit-animation-delay: 4s;
    animation-delay: 4s;
}

.star-1:nth-of-type(29):before {
    width: 12px;
    height: 12px;
    top: -250%;
}

.star-1:nth-of-type(30) {
    top: 5vh;
    left: 33vw;
    width: 4px;
    height: 1.3333333333px;
    -webkit-animation-delay: 3s;
    animation-delay: 3s;
}

.star-1:nth-of-type(30):before {
    width: 8px;
    height: 8px;
    top: -250%;
}

.star-2 {
    position: absolute;
    border-radius: 50%;
    background-color: #ffffff;
    -webkit-animation: twinkle 5s infinite ease-in-out;
    animation: twinkle 5s infinite ease-in-out;
}

.star-2:nth-of-type(31) {
    top: 7vh;
    left: 88vw;
    width: 3px;
    height: 3px;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
}

.star-2:nth-of-type(31):before {
    width: 6px;
    height: 6px;
    top: -250%;
}

.star-2:nth-of-type(32) {
    top: 67vh;
    left: 65vw;
    width: 3px;
    height: 3px;
    -webkit-animation-delay: 5s;
    animation-delay: 5s;
}

.star-2:nth-of-type(32):before {
    width: 6px;
    height: 6px;
    top: -250%;
}

.star-2:nth-of-type(33) {
    top: 66vh;
    left: 78vw;
    width: 3px;
    height: 3px;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
}

.star-2:nth-of-type(33):before {
    width: 6px;
    height: 6px;
    top: -250%;
}

.star-2:nth-of-type(34) {
    top: 55vh;
    left: 96vw;
    width: 3px;
    height: 3px;
    -webkit-animation-delay: 3s;
    animation-delay: 3s;
}

.star-2:nth-of-type(34):before {
    width: 6px;
    height: 6px;
    top: -250%;
}

.star-2:nth-of-type(35) {
    top: 29vh;
    left: 73vw;
    width: 2px;
    height: 2px;
    -webkit-animation-delay: 5s;
    animation-delay: 5s;
}

.star-2:nth-of-type(35):before {
    width: 4px;
    height: 4px;
    top: -250%;
}

.star-2:nth-of-type(36) {
    top: 28vh;
    left: 5vw;
    width: 4px;
    height: 4px;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
}

.star-2:nth-of-type(36):before {
    width: 8px;
    height: 8px;
    top: -250%;
}

.star-2:nth-of-type(37) {
    top: 70vh;
    left: 47vw;
    width: 4px;
    height: 4px;
    -webkit-animation-delay: 4s;
    animation-delay: 4s;
}

.star-2:nth-of-type(37):before {
    width: 8px;
    height: 8px;
    top: -250%;
}

.star-2:nth-of-type(38) {
    top: 72vh;
    left: 11vw;
    width: 4px;
    height: 4px;
    -webkit-animation-delay: 3s;
    animation-delay: 3s;
}

.star-2:nth-of-type(38):before {
    width: 8px;
    height: 8px;
    top: -250%;
}

.star-2:nth-of-type(39) {
    top: 57vh;
    left: 48vw;
    width: 3px;
    height: 3px;
    -webkit-animation-delay: 3s;
    animation-delay: 3s;
}

.star-2:nth-of-type(39):before {
    width: 6px;
    height: 6px;
    top: -250%;
}

.star-2:nth-of-type(40) {
    top: 50vh;
    left: 100vw;
    width: 3px;
    height: 3px;
    -webkit-animation-delay: 3s;
    animation-delay: 3s;
}

.star-2:nth-of-type(40):before {
    width: 6px;
    height: 6px;
    top: -250%;
}

.star-2:nth-of-type(41) {
    top: 99vh;
    left: 61vw;
    width: 4px;
    height: 4px;
    -webkit-animation-delay: 5s;
    animation-delay: 5s;
}

.star-2:nth-of-type(41):before {
    width: 8px;
    height: 8px;
    top: -250%;
}

.star-2:nth-of-type(42) {
    top: 78vh;
    left: 27vw;
    width: 3px;
    height: 3px;
    -webkit-animation-delay: 5s;
    animation-delay: 5s;
}

.star-2:nth-of-type(42):before {
    width: 6px;
    height: 6px;
    top: -250%;
}

.star-2:nth-of-type(43) {
    top: 2vh;
    left: 18vw;
    width: 4px;
    height: 4px;
    -webkit-animation-delay: 4s;
    animation-delay: 4s;
}

.star-2:nth-of-type(43):before {
    width: 8px;
    height: 8px;
    top: -250%;
}

.star-2:nth-of-type(44) {
    top: 59vh;
    left: 10vw;
    width: 4px;
    height: 4px;
    -webkit-animation-delay: 3s;
    animation-delay: 3s;
}

.star-2:nth-of-type(44):before {
    width: 8px;
    height: 8px;
    top: -250%;
}

.star-2:nth-of-type(45) {
    top: 12vh;
    left: 52vw;
    width: 2px;
    height: 2px;
    -webkit-animation-delay: 3s;
    animation-delay: 3s;
}

.star-2:nth-of-type(45):before {
    width: 4px;
    height: 4px;
    top: -250%;
}

.star-2:nth-of-type(46) {
    top: 81vh;
    left: 82vw;
    width: 2px;
    height: 2px;
    -webkit-animation-delay: 5s;
    animation-delay: 5s;
}

.star-2:nth-of-type(46):before {
    width: 4px;
    height: 4px;
    top: -250%;
}

.star-2:nth-of-type(47) {
    top: 36vh;
    left: 28vw;
    width: 2px;
    height: 2px;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
}

.star-2:nth-of-type(47):before {
    width: 4px;
    height: 4px;
    top: -250%;
}

.star-2:nth-of-type(48) {
    top: 64vh;
    left: 31vw;
    width: 4px;
    height: 4px;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}

.star-2:nth-of-type(48):before {
    width: 8px;
    height: 8px;
    top: -250%;
}

.star-2:nth-of-type(49) {
    top: 50vh;
    left: 73vw;
    width: 3px;
    height: 3px;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}

.star-2:nth-of-type(49):before {
    width: 6px;
    height: 6px;
    top: -250%;
}

.star-2:nth-of-type(50) {
    top: 53vh;
    left: 86vw;
    width: 3px;
    height: 3px;
    -webkit-animation-delay: 4s;
    animation-delay: 4s;
}

.star-2:nth-of-type(50):before {
    width: 6px;
    height: 6px;
    top: -250%;
}

.star-2:nth-of-type(51) {
    top: 60vh;
    left: 39vw;
    width: 4px;
    height: 4px;
    -webkit-animation-delay: 5s;
    animation-delay: 5s;
}

.star-2:nth-of-type(51):before {
    width: 8px;
    height: 8px;
    top: -250%;
}

.star-2:nth-of-type(52) {
    top: 93vh;
    left: 4vw;
    width: 2px;
    height: 2px;
    -webkit-animation-delay: 5s;
    animation-delay: 5s;
}

.star-2:nth-of-type(52):before {
    width: 4px;
    height: 4px;
    top: -250%;
}

.star-2:nth-of-type(53) {
    top: 13vh;
    left: 14vw;
    width: 4px;
    height: 4px;
    -webkit-animation-delay: 4s;
    animation-delay: 4s;
}

.star-2:nth-of-type(53):before {
    width: 8px;
    height: 8px;
    top: -250%;
}

.star-2:nth-of-type(54) {
    top: 28vh;
    left: 98vw;
    width: 4px;
    height: 4px;
    -webkit-animation-delay: 3s;
    animation-delay: 3s;
}

.star-2:nth-of-type(54):before {
    width: 8px;
    height: 8px;
    top: -250%;
}

.star-2:nth-of-type(55) {
    top: 15vh;
    left: 52vw;
    width: 3px;
    height: 3px;
    -webkit-animation-delay: 5s;
    animation-delay: 5s;
}

.star-2:nth-of-type(55):before {
    width: 6px;
    height: 6px;
    top: -250%;
}

.star-2:nth-of-type(56) {
    top: 45vh;
    left: 4vw;
    width: 4px;
    height: 4px;
    -webkit-animation-delay: 5s;
    animation-delay: 5s;
}

.star-2:nth-of-type(56):before {
    width: 8px;
    height: 8px;
    top: -250%;
}

.star-2:nth-of-type(57) {
    top: 27vh;
    left: 84vw;
    width: 3px;
    height: 3px;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}

.star-2:nth-of-type(57):before {
    width: 6px;
    height: 6px;
    top: -250%;
}

.star-2:nth-of-type(58) {
    top: 58vh;
    left: 87vw;
    width: 2px;
    height: 2px;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
}

.star-2:nth-of-type(58):before {
    width: 4px;
    height: 4px;
    top: -250%;
}

.star-2:nth-of-type(59) {
    top: 37vh;
    left: 36vw;
    width: 4px;
    height: 4px;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}

.star-2:nth-of-type(59):before {
    width: 8px;
    height: 8px;
    top: -250%;
}

.star-2:nth-of-type(60) {
    top: 82vh;
    left: 64vw;
    width: 4px;
    height: 4px;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}

.star-2:nth-of-type(60):before {
    width: 8px;
    height: 8px;
    top: -250%;
}

/*==== passaros ====*/

.container-bird {
    -webkit-perspective: 2000px;
    perspective: 2000px;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.bird {
    position: absolute;
    z-index: 1000;
    left: 50%;
    top: 50%;
    height: 40px;
    width: 50px;
    -webkit-transform: translate3d(-100vw, 0, 0) rotateY(90deg);
    transform: translate3d(-100vw, 0, 0) rotateY(90deg);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.bird-container {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: translate3d(50px, 30px, -300px);
    transform: translate3d(50px, 30px, -300px);
}

.wing {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    border-radius: 3px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform-origin: center bottom;
    transform-origin: center bottom;
    z-index: 300;
}

.wing-left {
    background: -webkit-gradient(linear, left top, left bottom, from(#a58dc4), to(#7979a8));
    background: linear-gradient(to bottom, #a58dc4 0%, #7979a8 100%);
    -webkit-transform: translate3d(0, 0, 0) rotateX(-30deg);
    transform: translate3d(0, 0, 0) rotateX(-30deg);
    -webkit-animation: wingLeft 1.3s cubic-bezier(0.45, 0, 0.5, 0.95) infinite;
    animation: wingLeft 1.3s cubic-bezier(0.45, 0, 0.5, 0.95) infinite;
}

.wing-right {
    background: -webkit-gradient(linear, left top, left bottom, from(#d9d3e2), to(#b8a5d1));
    background: linear-gradient(to bottom, #d9d3e2 0%, #b8a5d1 100%);
    -webkit-transform: translate3d(0, 0, 0) rotateX(-30deg);
    transform: translate3d(0, 0, 0) rotateX(-30deg);
    -webkit-animation: wingRight 1.3s cubic-bezier(0.45, 0, 0.5, 0.95) infinite;
    animation: wingRight 1.3s cubic-bezier(0.45, 0, 0.5, 0.95) infinite;
}

.wing-right-top,
.wing-left-top {
    border-right: 25px solid transparent;
    border-left: 25px solid transparent;
    top: -20px;
    width: 100%;
    position: absolute;
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}

.wing-right-top {
    border-bottom: 20px solid #b8a5d1;
    -webkit-transform: translate3d(0, 0, 0) rotateX(60deg);
    transform: translate3d(0, 0, 0) rotateX(60deg);
    -webkit-animation: wingRightTop 1.3s cubic-bezier(0.45, 0, 0.5, 0.95) infinite;
    animation: wingRightTop 1.3s cubic-bezier(0.45, 0, 0.5, 0.95) infinite;
}

.wing-left-top {
    border-bottom: 20px solid #7979a8;
    -webkit-transform: translate3d(0, 0, 0) rotateX(-60deg);
    transform: translate3d(0, 0, 0) rotateX(-60deg);
    -webkit-animation: wingLeftTop 1.3s cubic-bezier(0.45, 0, 0.5, 0.95) infinite;
    animation: wingLeftTop 1.3s cubic-bezier(0.45, 0, 0.5, 0.95) infinite;
}

.bird-anim:nth-child(1) {
    -webkit-animation: bird1 30s linear infinite forwards;
    animation: bird1 30s linear infinite forwards;
}

.bird-anim:nth-child(2) {
    -webkit-animation: bird2 30s linear infinite forwards;
    animation: bird2 30s linear infinite forwards;
    -webkit-animation-delay: 3s;
    animation-delay: 3s;
    z-index: -1;
}

.bird-anim:nth-child(3) {
    -webkit-animation: bird3 30s linear infinite forwards;
    animation: bird3 30s linear infinite forwards;
    -webkit-animation-delay: 5s;
    animation-delay: 5s;
}

.bird-anim:nth-child(4) {
    -webkit-animation: bird4 30s linear infinite forwards;
    animation: bird4 30s linear infinite forwards;
    -webkit-animation-delay: 7s;
    animation-delay: 7s;
}

.bird-anim:nth-child(5) {
    -webkit-animation: bird5 30s linear infinite forwards;
    animation: bird5 30s linear infinite forwards;
    -webkit-animation-delay: 14s;
    animation-delay: 14s;
}

.bird-anim:nth-child(6) {
    -webkit-animation: bird6 30s linear infinite forwards;
    animation: bird6 30s linear infinite forwards;
    -webkit-animation-delay: 10s;
    animation-delay: 10s;
    z-index: -1;
}


@-webkit-keyframes wingLeft {
    0%, 100% {
        -webkit-transform: translate3d(0, 0, 0) rotateX(-50deg);
        transform: translate3d(0, 0, 0) rotateX(-50deg);
    }

    50% {
        -webkit-transform: translate3d(0, -20px, 0) rotateX(-130deg);
        transform: translate3d(0, -20px, 0) rotateX(-130deg);
        background: -webkit-gradient(linear, left top, left bottom, from(#d9d3e2), to(#b8a5d1));
        background: linear-gradient(to bottom, #d9d3e2 0%, #b8a5d1 100%);
    }
}

@keyframes wingLeft {
    0%, 100% {
        -webkit-transform: translate3d(0, 0, 0) rotateX(-50deg);
        transform: translate3d(0, 0, 0) rotateX(-50deg);
    }

    50% {
        -webkit-transform: translate3d(0, -20px, 0) rotateX(-130deg);
        transform: translate3d(0, -20px, 0) rotateX(-130deg);
        background: -webkit-gradient(linear, left top, left bottom, from(#d9d3e2), to(#b8a5d1));
        background: linear-gradient(to bottom, #d9d3e2 0%, #b8a5d1 100%);
    }
}

@-webkit-keyframes wingLeftTop {
    0%, 100% {
        -webkit-transform: translate3d(0, 0, 0) rotateX(-10deg);
        transform: translate3d(0, 0, 0) rotateX(-10deg);
    }

    50% {
        -webkit-transform: translate3d(0px, 0px, 0) rotateX(-40deg);
        transform: translate3d(0px, 0px, 0) rotateX(-40deg);
        border-bottom: 20px solid #b8a5d1;
    }
}

@keyframes wingLeftTop {
    0%, 100% {
        -webkit-transform: translate3d(0, 0, 0) rotateX(-10deg);
        transform: translate3d(0, 0, 0) rotateX(-10deg);
    }

    50% {
        -webkit-transform: translate3d(0px, 0px, 0) rotateX(-40deg);
        transform: translate3d(0px, 0px, 0) rotateX(-40deg);
        border-bottom: 20px solid #b8a5d1;
    }
}

@-webkit-keyframes wingRight {
    0%, 100% {
        -webkit-transform: translate3d(0, 0, 0) rotateX(50deg);
        transform: translate3d(0, 0, 0) rotateX(50deg);
    }

    50% {
        -webkit-transform: translate3d(0, -20px, 0) rotateX(130deg);
        transform: translate3d(0, -20px, 0) rotateX(130deg);
        background: -webkit-gradient(linear, left top, left bottom, from(#a58dc4), to(#7979a8));
        background: linear-gradient(to bottom, #a58dc4 0%, #7979a8 100%);
    }
}

@keyframes wingRight {
    0%, 100% {
        -webkit-transform: translate3d(0, 0, 0) rotateX(50deg);
        transform: translate3d(0, 0, 0) rotateX(50deg);
    }

    50% {
        -webkit-transform: translate3d(0, -20px, 0) rotateX(130deg);
        transform: translate3d(0, -20px, 0) rotateX(130deg);
        background: -webkit-gradient(linear, left top, left bottom, from(#a58dc4), to(#7979a8));
        background: linear-gradient(to bottom, #a58dc4 0%, #7979a8 100%);
    }
}

@-webkit-keyframes wingRightTop {
    0%, 100% {
        -webkit-transform: translate3d(0, 0, 0) rotateX(10deg);
        transform: translate3d(0, 0, 0) rotateX(10deg);
    }

    50% {
        -webkit-transform: translate3d(0px, 0px, 0px) rotateX(40deg);
        transform: translate3d(0px, 0px, 0px) rotateX(40deg);
        border-bottom: 20px solid #7979a8;
    }
}

@keyframes wingRightTop {
    0%, 100% {
        -webkit-transform: translate3d(0, 0, 0) rotateX(10deg);
        transform: translate3d(0, 0, 0) rotateX(10deg);
    }

    50% {
        -webkit-transform: translate3d(0px, 0px, 0px) rotateX(40deg);
        transform: translate3d(0px, 0px, 0px) rotateX(40deg);
        border-bottom: 20px solid #7979a8;
    }
}

@-webkit-keyframes bird1 {
    0% {
        -webkit-transform: translate3d(-120vw, -20px, -1000px) rotateY(-40deg) rotateX(0deg);
        transform: translate3d(-120vw, -20px, -1000px) rotateY(-40deg) rotateX(0deg);
    }

    100% {
        -webkit-transform: translate3d(100vw, -40vh, 1000px) rotateY(-40deg) rotateX(0deg);
        transform: translate3d(100vw, -40vh, 1000px) rotateY(-40deg) rotateX(0deg);
    }
}

@keyframes bird1 {
    0% {
        -webkit-transform: translate3d(-120vw, -20px, -1000px) rotateY(-40deg) rotateX(0deg);
        transform: translate3d(-120vw, -20px, -1000px) rotateY(-40deg) rotateX(0deg);
    }

    100% {
        -webkit-transform: translate3d(100vw, -40vh, 1000px) rotateY(-40deg) rotateX(0deg);
        transform: translate3d(100vw, -40vh, 1000px) rotateY(-40deg) rotateX(0deg);
    }
}

@-webkit-keyframes bird2 {

    0%,
    15% {
        -webkit-transform: translate3d(100vw, -300px, -1000px) rotateY(10deg) rotateX(0deg);
        transform: translate3d(100vw, -300px, -1000px) rotateY(10deg) rotateX(0deg);
    }

    100% {
        -webkit-transform: translate3d(-100vw, -20px, -1000px) rotateY(10deg) rotateX(0deg);
        transform: translate3d(-100vw, -20px, -1000px) rotateY(10deg) rotateX(0deg);
    }
}

@keyframes bird2 {

    0%,
    15% {
        -webkit-transform: translate3d(100vw, -300px, -1000px) rotateY(10deg) rotateX(0deg);
        transform: translate3d(100vw, -300px, -1000px) rotateY(10deg) rotateX(0deg);
    }

    100% {
        -webkit-transform: translate3d(-100vw, -20px, -1000px) rotateY(10deg) rotateX(0deg);
        transform: translate3d(-100vw, -20px, -1000px) rotateY(10deg) rotateX(0deg);
    }
}

@-webkit-keyframes bird3 {
    0% {
        -webkit-transform: translate3d(100vw, -50vh, 100px) rotateY(-5deg) rotateX(-20deg);
        transform: translate3d(100vw, -50vh, 100px) rotateY(-5deg) rotateX(-20deg);
    }

    100% {
        -webkit-transform: translate3d(-100vw, -10vh, 100px) rotateY(-5deg) rotateX(-20deg);
        transform: translate3d(-100vw, -10vh, 100px) rotateY(-5deg) rotateX(-20deg);
    }
}

@keyframes bird3 {
    0% {
        -webkit-transform: translate3d(100vw, -50vh, 100px) rotateY(-5deg) rotateX(-20deg);
        transform: translate3d(100vw, -50vh, 100px) rotateY(-5deg) rotateX(-20deg);
    }

    100% {
        -webkit-transform: translate3d(-100vw, -10vh, 100px) rotateY(-5deg) rotateX(-20deg);
        transform: translate3d(-100vw, -10vh, 100px) rotateY(-5deg) rotateX(-20deg);
    }
}

@-webkit-keyframes bird4 {
    0% {
        -webkit-transform: translate3d(100vw, 30vh, 200px) rotateY(-5deg) rotateX(10deg);
        transform: translate3d(100vw, 30vh, 200px) rotateY(-5deg) rotateX(10deg);
    }

    100% {
        -webkit-transform: translate3d(-100vw, -30vh, 200px) rotateY(-5deg) rotateX(10deg);
        transform: translate3d(-100vw, -30vh, 200px) rotateY(-5deg) rotateX(10deg);
    }
}

@keyframes bird4 {
    0% {
        -webkit-transform: translate3d(100vw, 30vh, 200px) rotateY(-5deg) rotateX(10deg);
        transform: translate3d(100vw, 30vh, 200px) rotateY(-5deg) rotateX(10deg);
    }

    100% {
        -webkit-transform: translate3d(-100vw, -30vh, 200px) rotateY(-5deg) rotateX(10deg);
        transform: translate3d(-100vw, -30vh, 200px) rotateY(-5deg) rotateX(10deg);
    }
}

@-webkit-keyframes bird5 {

    0%,
    5% {
        -webkit-transform: translate3d(100vw, 30vh, 400px) rotateY(-15deg) rotateX(-10deg);
        transform: translate3d(100vw, 30vh, 400px) rotateY(-15deg) rotateX(-10deg);
    }

    100% {
        -webkit-transform: translate3d(-100vw, 10vh, 400px) rotateY(-15deg) rotateX(-10deg);
        transform: translate3d(-100vw, 10vh, 400px) rotateY(-15deg) rotateX(-10deg);
    }
}

@keyframes bird5 {

    0%,
    5% {
        -webkit-transform: translate3d(100vw, 30vh, 400px) rotateY(-15deg) rotateX(-10deg);
        transform: translate3d(100vw, 30vh, 400px) rotateY(-15deg) rotateX(-10deg);
    }

    100% {
        -webkit-transform: translate3d(-100vw, 10vh, 400px) rotateY(-15deg) rotateX(-10deg);
        transform: translate3d(-100vw, 10vh, 400px) rotateY(-15deg) rotateX(-10deg);
    }
}

@-webkit-keyframes bird6 {
    0%, 10% {
        -webkit-transform: translate3d(-100vw, 20vh, -500px) rotateY(15deg) rotateX(10deg);
        transform: translate3d(-100vw, 20vh, -500px) rotateY(15deg) rotateX(10deg);
    }

    100% {
        -webkit-transform: translate3d(100vw, 40vh, -800px) rotateY(5deg) rotateX(10deg);
        transform: translate3d(100vw, 40vh, -800px) rotateY(5deg) rotateX(10deg);
    }
}

@keyframes bird6 {
    0%, 10% {
        -webkit-transform: translate3d(-100vw, 20vh, -500px) rotateY(15deg) rotateX(10deg);
        transform: translate3d(-100vw, 20vh, -500px) rotateY(15deg) rotateX(10deg);
    }

    100% {
        -webkit-transform: translate3d(100vw, 40vh, -800px) rotateY(5deg) rotateX(10deg);
        transform: translate3d(100vw, 40vh, -800px) rotateY(5deg) rotateX(10deg);
    }
}