@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
body {
    --color-black: #000;
    --color-black-light: #777777;
    --color-black-light2: #777777;
    --color-white: #fff;
    --color-light: #f4f4f4;
    --color-light2: #f4f4f4;
    --details: #871034;
    --back-primary: #19191f;
    --back-fundo: #fff;
    --back-glass: linear-gradient(to right bottom,
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.3));
}

body.dark {
    --color-black: #fff;
    --color-white: #000;
    --color-light: #777777;
    --color-light2: rgb(26, 26, 26);
    --color-black-light: #f4f4f4;
    --back-fundo: #000;
    --back-glass: linear-gradient(to right bottom,
    rgba(17, 17, 17, 0.5),
    rgba(20, 20, 20, 0.3));
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}